---
import "../styles/global.css"

interface Props {
    title: string,
    openGraph?: {
        title?: string,
        description?: string,
        image?: string,
        url?: string,
    }
}

let { title, openGraph } = Astro.props;
const siteName = "qewer33's blog";
const description = openGraph?.description || "Personal blog of qewer33.";
const canonicalUrl = openGraph?.url || "https://blog.qewer.dev";
---

<title>{title}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{/* Generic Meta tags */}
<meta name="description" content={description}>
<meta name="robots" content="index,follow">
<link rel="canonical" href={canonicalUrl}>
<link rel="icon" href="/logo.png" type="image/png">

{/* Social Media meta tags */}
{openGraph && <>
    {openGraph.title && <meta property="og:title" content={openGraph.title}>}
    <meta property="og:description" content={description}>
    {openGraph?.image && <meta property="og:image" content={openGraph.image}>}
    <meta property="og:url" content={canonicalUrl}>
    <meta property="og:site_name" content={siteName}>
</>}

{/* Twitter meta tags */}
<meta name="twitter:card" content="summary_large_image"> {/* Don't change this one */}
<meta name="twitter:site" content="https://blog.qewer.dev">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
{openGraph?.image && <meta name="twitter:image" content={openGraph.image}>}

{/* Apple meta tags */}
<meta name="format-detection" content="telephone=yes"> {/* auto detect phone numbers on apple devices on this page */}

{/* Dark Reader extension */}
<meta name="darkreader-lock"> {/* Prevents dark reader from modifying your website colors, uncomment */}

{/* Google Fonts - JetBrains Mono */}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
